# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# Django stuff
*.log
local_settings.py
db.sqlite3
media/

# Environment variables
.env

# VS Code
.vscode/

# Mac
.DS_Store

# Static files (optional if collected)
staticfiles/

# Migrations (optional, if you want to ignore)
# */migrations/*
# !*/migrations/__init__.py
node_modules/