{% extends 'buyer_dashboard.html' %}}
{% load static %}
{% block content %}

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>SpiceBid</p>
						<h1>Active Auctions</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->


	<div class="latest-news mt-150 mb-150">
		<div class="container">
			<div class="row">
    {% for auction in auctions %}
    <div class="col-lg-4 col-md-6">
        <div class="single-latest-news">

            <a href="#">
                <div class="latest-news-bg"
                     style="background-image: url('{{ auction.image.url }}');">
                </div>
            </a>

            <div class="news-text-box">
                <h3>
                    <a href="#">
                        {{ auction.title }}
                    </a>
                </h3>


                <p class="excerpt">
                    {{ auction.description|truncatewords:15 }}
                </p>

                <p class="blog-meta">
                    <span class="author">
                        <i class="fas fa-user"></i>
                        {{ auction.seller.username }}
                    </span><br><br>

                    <span class="date">
                        <i class="fas fa-calendar"></i>
                        Ends: {{ auction.end_time }}
                    </span>
                </p>


                <p><strong>Starting Price:</strong> ₹ {{ auction.starting_price }}</p>

                <a href="{% url 'active_auction_viewmore' a_id=auction.id %}"
                   class="read-more-btn">
                    View Auction <i class="fas fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
    {% empty %}
        <div class="col-12 text-center">
            <h4>No Active Auctions Available</h4>
        </div>
    {% endfor %}
</div>


		</div>
	</div>
	<!-- end latest news -->

	{% endblock %}