<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template">

	<title>Fruitkha - Slider Version</title>

	<link rel="shortcut icon" type="image/png" href="{% static 'accounts/assets/img/favicon.png' %}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'accounts/assets/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'accounts/assets/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'accounts/assets/css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'accounts/assets/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'accounts/assets/css/animate.css' %}">
	<link rel="stylesheet" href="{% static 'accounts/assets/css/meanmenu.min.css' %}">
	<link rel="stylesheet" href="{% static 'accounts/assets/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'accounts/assets/css/responsive.css' %}">

	<!-- ✅ ONLY NAVBAR FIX -->
	<style>
	.main-menu ul {
		display: flex !important;
		justify-content: center !important;
		align-items: center;
		gap: 30px;
	}

	.main-menu ul li {
		float: none !important;
		display: inline-block;
	}

	.main-menu ul li:last-child {
		margin-left: 0 !important;
	}

	/* ===== STICKY NAVBAR ===== */
	#sticker {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 9999;
		background: #051922; /* same as your theme */
	}

	/* prevent content hiding */
	body {
		padding-top: 90px;
	}
</style>

</head>

<body>

	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">

						<div class="site-logo">
							<a href="index.html">
								<img src="{% static 'accounts/assets/img/logo1.png' %}" width="80px" height="50px">
							</a>
						</div>

						<nav class="main-menu">
							<ul>
								<li class="current-list-item">
									<a href="{% url 'buyer_dashboard' %}">Home</a>
								</li>

								<li><a href="{% url 'about' %}">About</a></li>

								<li>
									<a href="#">Auctions</a>
									<ul class="sub-menu">
										<li><a href="{% url 'active_auctions' %}">Active Auctions</a></li>
										<li><a href="{% url 'buyer_past_auctions' %}">Past Auctions</a></li>
									</ul>
								</li>
                                <li><a href="{% url 'buyer_profile' %}">My Account</a></li>

								<li><a href="{% url 'contact' %}">Contact</a></li>
                                <li><a href="{% url 'logout_user' %}">Logout</a></li>

							</ul>
						</nav>

						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>

					</div>
				</div>
			</div>
		</div>
	</div>
{% block content %}
	<!-- home page slider -->
	<div class="homepage-slider">

		<div>
			<img src="{% static 'accounts/assets/img/bg6.jpg' %}" alt="">
		</div>

		<div>
			<img src="{% static 'accounts/assets/img/bg7.jpg' %}" alt="">
		</div>

		<div>
			<img src="{% static 'accounts/assets/img/bg9.jpg' %}" alt="">
		</div>

	</div>
    {% endblock %}

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>SpiceBid is an online auction platform that provides users with a secure and efficient environment to participate in bidding.
						It allows users to explore various products, place bids in real time, and compete fairly to win items.
						The platform is designed to ensure a smooth and transparent experience for all users.</p>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>Kochi, Kerala India</li>
							<li>support@spicebid.com</li>
							<li>+91 98765 43210</li>
						</ul>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="{% url 'buyer_dashboard' %}">Home</a></li>
							<li><a href="{% url 'about' %}">About</a></li>
							<li><a href="#">Auctions</a></li>
							<li><a href="{% url 'contact' %}">Contact</a></li>
						</ul>
					</div>
				</div>



			</div>
		</div>
	</div>


	<!-- scripts -->
	<script src="{% static 'accounts/assets/js/jquery-1.11.3.min.js' %}"></script>
	<script src="{% static 'accounts/assets/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'accounts/assets/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'accounts/assets/js/main.js' %}"></script>

</body>
</html>